
.body{
    margin:0;
    padding: 0;
    background-color:#ECD0D0;
}
*{  
  margin:0;
    padding: 0;}
    .the-big{
  width:100%;
  height: 100%;
  background-color:#ECD0D0;
 }

.side-center{
    width:70%;
    height: 100%;
    position:absolute; top: 0;right:15%;
  background-image: linear-gradient(rgb(163, 119, 119),rgb(173, 173, 144));;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.side-center .logo {position: absolute; 
    top:150px;
    left:200px;
    
}

.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 100px;
  left:300px;
  height: 70px;
  width: 70px;
}
.heart:hover{
  transform: scale(1.1);
}
a:hover{
cursor:pointer;
transform: scale(1.1);
}
.checked {
  position: absolute;
  top:140px;left:230px;
  color: rgb(216, 207, 190);
  font-size:70px;
}
.checked:hover{
  transform: scale(1.1);
}    #cut-diamond {
  border-style: solid;
  border-color: transparent transparent rgb(236, 219, 219) transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 50px 0;
  position: absolute;
  top: 100px;
  right:150px;
 
}
#cut-diamond:after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgb(197, 158, 158 )transparent transparent transparent;
  border-width: 70px 50px 0 50px;
  
}
#cut-diamond:hover{
  transform: scale(1.1);
} 
.logo:hover{
  transform: scale(1.1);
}

.heart1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 140%;
  left:34%;
  height: 70px;
  width: 70px;
  border:9px rgb(231, 213, 213);
}
